
* {
  box-sizing: border-box;
}

body {
margin : 0 auto;
}

.div_container {
padding : 10px;
}

.divImage {

border : 1px solid #eee;
text-align : center;
padding: 1rem;

}

img { 

width: 100%;
height : auto;

}

/****Table****/
table {
max-width : 400px;
}

table, td  {
border : 1px solid #ccc;
border-collapse : collapse;
}

tr > td:first-child {
border-right : transparent;

}

tr > td:last-child {
border-left : transparent;
}

.div_container_table {

padding : 30px;

}

 td {
margin-left : 15px;
width : 100%;
}

/****Table****/


h3 ::after{

}


/************************/

@media screen and (min-width: 480px) {

table {
max-width : 900px;
}

body .container {

border-right : 1px solid #eee;
padding : 10px;

}

td {
width : 100%;
}

}

/************************/




/************************/


@media screen and (min-width: 960px) {

body {
max-width: 1140px;
}

.div_container {
margin : 10px;
}
/* début partie image "apprécier le design..."*/

.text-float{
display : flex;
gap : 2rem;
}

.text-float > div{
flex-basis : 50%;
}

/* fin partie image "apprécier le design..."*/

/* début partie image "tout le confort..." et "moniteur full..." */

.display_flex {
display: flex;
gap : 2rem;
}

.display_flex > div {
flex-basis : 50%;
}

.display_flex  div:first-child {
order : 2;
}

.display_flex  div:last-child {
order : 1;
}

/* fin partie image "tout le confort..." et "moniteur full..." */

.div_container_table > div {
display : flex;
align-items: center;
gap : 5rem;
margin-block : 15px;
}

.div_container_table > div > h3{
flex-basis : 25%;
}

.div_container_table > div > table{
flex-basis : 75%;
}

/************************/